
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:website="http://ogp.me/ns/website" lang="en-US">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<meta name="viewport" content="width=device-width, initial-scale=1">

<base href="">
<meta charset="utf-8" />
<title>Steer Phone List</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<body>
  <div class="container-fluid" style="margin-top:60px">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h1 class="panel-title" align="center">Steere Phone List</h1>

					</div>
					<div class="panel-body">
						<div class="table-responsive"
							th:if="${not #lists.isEmpty(phonelist)}">
							<div>
								<p align="right">
									<a href="/apps/phonelist/new" class="btn btn-primary btn-sm">New</a> <a
										href="#" class="btn btn-success btn-sm"> <span
										class="glyphicon glyphicon-print"></span>
									</a>
								</p>
							</div>
							<table class="table table-hover ">
								<thead class="thead-inverse">
									<tr>
										<th align="right">ID</th>
										<th>First Name</th>
										<th>Last Name</th>
										<th align="right">Extension</th>
										<th>Cell Phone</th>
										<th>Email</th>
										<th>View</th>
										<th>Update</th>
										<th>Delete</th>
									</tr>
								</thead>
								<tr th:remove="all">
									<td>1</td>
									<td>Donald</td>
									<td>Duck</td>
									<td>11</td>
									<td>(555) 555-5555</td>
									<td>donaldduck@disney.com</td>
									<td><a href="#">View</a></td>
									<td><a href="#">Update</a></td>
									<td><a href="#">Delete</a></td>
								</tr>
								<tr th:remove="all">
									<td>2</td>
									<td>Tom</td>
									<td>Thumb</td>
									<td>12</td>
									<td>()888) 888-8888</td>
									<td>donaldduck@disney.com</td>
									<td><a href="#">View</a></td>
									<td><a href="#">Update</a></td>
									<td><a href="#">Delete</a></td>
								</tr>
								<tr th:each="phonelist : ${phonelist}">
									<!--/*@thymesVar id="recipe" type="guru.springframework.domain.Recipe"*/-->
									<td align="right" th:text="${phonelist.id}">3</td>
									<td th:text="${phonelist.firstname}">Buck</td>
									<td th:text="${phonelist.lastname}">Rogers</td>
									<td align="center" th:text="${phonelist.extension}">13</td>
									<td th:text="${phonelist.cellphone}">(777) 777-7777</td>
									<td><a href="${phonelist.email}"
										th:href="@{'mailto:' + ${phonelist.email}}"><th:block
												th:text="${phonelist.email}" /> </a></td>
									<!-- <td><a href="#"th:href="@{'/phonelist/show/' + ${phonelist.id}}">View</a></td>
									<td><a href="#"th:href="@{'/phonelist/show/' + ${phonelist.id}}">View</a></td> -->
									<td><a class="btn-link" href="#"
										th:href="@{'/apps/phonelist/' + ${phonelist.id} + '/show'}">View</a></td>
									<td><a class=" btn-link" href="#"
										th:href="@{'/apps/phonelist/' + ${phonelist.id} + '/update'}">Update</a></td>
									<td><a class=" btn-link" href="#"
										th:href="@{'/apps/phonelist/' + ${phonelist.id} + '/delete'}">Delete</a></td>
								</tr>
							</table>
							<div>
								<p align="right">
									<a href="/apps/phonelist/new" class="btn btn-primary btn-sm">New</a> <a
										href="#" class="btn btn-success btn-sm"> <span
										class="glyphicon glyphicon-print"></span>
									</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="preFooter">
		<div class="pre-footer-inner">
			<div class="sqs-layout sqs-grid-12 columns-12 empty"
				data-layout-label="Pre-Footer Content" data-type="block-field"
				data-updated-on="1492703907545" id="preFooterBlocks">
				<div class="row sqs-row">
					<div class="col sqs-col-12 span-12"></div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
